<main>
    <div class="wrapper">

        {{#each places}}
        <div class="places">
            <div class="place">
                <h2>{{name}}</h2>
                <img class="place-img" src="{{imageUrl}}" alt="Arda River">
                <p class="preview">{{description}}</p>
                <a class="info-btn" href="/places/{{_id}}/details"> >Повече информация< </a>
            </div>
            
            {{else}}
            <h1>Няма намерени места!</h1>
            
            {{/each}}

        </div>
        <h2><a href="/">Към Начална Страница</a></h2>

    </div>
</main>